<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="isThisUser"></ion-menu-button>
      <ion-back-button *ngIf="!isThisUser" defaultHref="/tabs/people"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!isFollowing && !isThisUser">
      <ion-button (click)="onFollow()">
        <ion-label>Follow</ion-label>
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isFollowing && !isThisUser">
      <ion-button (click)="onUnfollow()">
        <ion-label slot="end" style="padding-right: 5px;">Following</ion-label>
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isThisUser">
      <ion-button (click)="onClickNotifications()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Moment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-margin" *ngIf="!isLoading">
    <ion-card class="ion-no-margin">
      <ion-row>
        <ion-col class="ion-align-self-center" size="4" style="padding: 10px;">
          <ion-avatar>
            <img [src]="user.image">
          </ion-avatar>
        </ion-col>
        <ion-col class="ion-no-margin" size="8" style="padding: 10px;">
          <ion-row *ngIf="user.fullName.length !== 0">
            <ion-card-title class="title-name ion-text-wrap ion-wrap" text-wrap>{{ user.fullName }}</ion-card-title>
          </ion-row>
          <ion-row *ngIf="user.fullName.length !== 0">
            <ion-card-subtitle style="padding-top: 8px" class="word-wrap">{{ user.username }}</ion-card-subtitle>
          </ion-row>
          <ion-row *ngIf="user.fullName.length === 0">
            <ion-card-title class="title-name word-wrap">{{ user.username }}</ion-card-title>
          </ion-row>
          <ion-row>
            <p class="bio">{{ user.bio }}</p>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 10px; padding-bottom: 10px;" *ngIf="!isLoading">
        <ion-col class="ion-text-center">{{ this.followerNumber - 1 }} followers</ion-col>
        <ion-col class="ion-text-center">{{ user.friendIds.length - 1 }} following</ion-col>
        <ion-col class="ion-text-center">{{ this.posts.length }} posts</ion-col>
      </ion-row>
    </ion-card>
    <ion-row *ngIf="!isLoading && posts.length === 0" style="padding-top: 10px;" class="ion-justify-content-center">
      <ion-col class="ion-text-center" *ngIf="isThisUser">
        <p>Looks like you don't have any posts yet!</p>
        <ion-button (click)="onNewPost()">Upload Something</ion-button>
      </ion-col>
      <ion-col class="ion-text-center" *ngIf="!isThisUser">
        <p>{{ user.username }} doesn't have any posts yet.</p>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top:8px" *ngIf="!isLoading && posts.length !== 0">
      <ion-col size="4" *ngFor="let post of posts" (click)="onPostDetail(post.id)">
        <app-content [content]="this.post" playable="false" square="square"></app-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>