<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button (click)="closeModal()" defaultHref="."></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!isFollowing && !isLoading">
      <ion-button (click)="onFollowEvent()">
        <ion-label>Follow</ion-label>
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="end" *ngIf="isFollowing && !isLoading" style="padding-right: 5px;">Following</ion-label>
    <ion-icon name="checkmark" slot="end" *ngIf="isFollowing && !isLoading"></ion-icon>
    <ion-title>Moment</ion-title>
    <ion-buttons slot="end" *ngIf="!isLoading && isThisUsersEvent()">
      <ion-button (click)="onShowMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select #menu hidden interface="action-sheet" (ionChange)="onDeleteEvent()">
    <ion-select-option (click)="onDeleteEvent()">
      <ion-label>Delete Event</ion-label>
    </ion-select-option>
  </ion-select>

  <ion-grid class="ion-no-margin" *ngIf="!isLoading">
    <ion-card class="ion-no-margin">
      <ion-row>
        <ion-col class="ion-align-self-center" style="padding: 10px;">
          <ion-img [src]="event.headerImage"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-margin" style="padding: 10px;">
          <ion-row class="ion-justify-content-center">
            <ion-label class="event-name">{{ event.name }}</ion-label>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-label class="location">@ {{ event.location }}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center" *ngIf="!isLoading">
        <ion-col class="ion-text-center event-name">
          {{ event.followerIds.length }} followers
        </ion-col>
        <ion-col class="ion-text-center event-name">
          {{ eventPosts.length }} posts
        </ion-col>
      </ion-row>
      <ion-row style="padding: 0px;">
        <ion-col class="ion-text-center event-name">
          <ion-button fill="clear" (click)="onInvite()">
            <ion-icon name="add" slot="icon-only"></ion-icon>
          </ion-button>
          <ionic-selectable style="display: none;" [items]="loadedPeople" itemValueField="id"
          itemTextField="username" [canSearch]="true" (onChange)="onInviteUser($event)" #inviteSelectable></ionic-selectable>
        </ion-col>
        <ion-col class="ion-text-center event-name">
          <ion-button fill="clear" (click)="onNewPost()">
            <ion-icon name="add" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row *ngIf="!isLoading && eventPosts.length === 0" class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <p>This event has no content yet</p>
        <ion-button (click)="onNewPost()">Upload Something</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top:8px" *ngIf="!isLoading && eventPosts.length !== 0">
      <ion-col size="4" *ngFor="let post of eventPosts" [routerLink]="['/post-detail', post.id]">
        <app-content [content]="this.post" playable="false" square="square"></app-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>