<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button (click)="closeModal()" defaultHref="."></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!isFollowing && !isLoading">
      <ion-button (click)="onFollowEvent()">
        <ion-label>Follow</ion-label>
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="end" *ngIf="isFollowing && !isLoading" style="padding-right: 5px;" (click)="onUnfollowEvent()">
      Following</ion-label>
    <ion-icon name="checkmark" slot="end" *ngIf="isFollowing && !isLoading"></ion-icon>
    <ion-title>Moment</ion-title>
    <ion-buttons slot="end" *ngIf="!isLoading && isThisUsersEvent()">
      <ion-button (click)="onShowMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select #menu hidden interface="action-sheet" (ionChange)="handleSelectOption(menu)" *ngIf="!isLoading">
    <ion-select-option value="invite">
      <ion-label>Invite User</ion-label>
    </ion-select-option>
    <ion-select-option value="delete">
      <ion-label>Delete Event</ion-label>
    </ion-select-option>
    <ion-select-option value="public" *ngIf="event.isPrivate">
      <ion-label>Make Public</ion-label>
    </ion-select-option>
    <ion-select-option value="private" *ngIf="!event.isPrivate">
      <ion-label>Make Private</ion-label>
    </ion-select-option>
  </ion-select>

  <ion-grid class="ion-no-margin" *ngIf="!isLoading">
    <ion-card class="ion-no-margin">
      <ion-row>
        <ion-col class="ion-align-self-center">
          <img [src]="event.headerImage">
        </ion-col>
      </ion-row>
      <ion-row style="padding-left: 10px;">
        <ion-col size="12">
          <ion-row class="ion-justify-content-start">
            <ion-col class="event-name">
              {{ event.name }}
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-start" style="padding-top: 10px;">
            <ion-col class="location">
              <ion-icon name="pin"></ion-icon>
              {{ event.location }}
            </ion-col>
          </ion-row>

          <ion-row *ngIf="event.date">
            <ion-col class="date">
              <ion-icon name="clock"></ion-icon>
              {{ date }}
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-start" *ngIf="!isLoading">
            <ion-col class="ion-text-start info">
              <ion-icon name="contacts"></ion-icon>
              {{ event.followerIds.length }} followers
            </ion-col>
            <ion-col class="ion-text-start info">
              <ion-icon name="paper"></ion-icon>
              {{ eventPosts.length }} posts
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-start">
            <ion-col class="privacy">
              <ion-icon name="lock"></ion-icon>
              {{ event.isPrivate ? "Private Event" : "Public Event" }}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row *ngIf="!isLoading && eventPosts.length === 0" class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <p>This event has no content yet</p>
        <ion-button (click)="onNewPost()">Upload Something</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top:8px" *ngIf="!isLoading && eventPosts.length !== 0">
      <ion-col size="4" *ngFor="let post of eventPosts" (click)="onPostDetail(post.id)">
        <app-content [content]="this.post" playable="false" square="square"></app-content>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ionic-selectable style="display: none;" [items]="loadedPeople" itemValueField="id" itemTextField="username"
    [canSearch]="true" (onChange)="onInviteUser($event)" #inviteSelectable></ionic-selectable>
</ion-content>