<ion-list>
  <ion-list-header>Filter Events</ion-list-header>
  <!-- <ion-item>
    <ion-label>See:</ion-label>
  </ion-item> -->
  <ion-item>
    <ion-checkbox checked></ion-checkbox>
    <ion-label>Past Events</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox checked></ion-checkbox>
    <ion-label>Upcoming Events</ion-label>
  </ion-item>
  <ion-item>
    <ion-col>
      <ion-item lines="none" detail>
        <ion-label>From</ion-label>
        <ion-datetime></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item lines="none" detail>
        <ion-label>To</ion-label>
        <ion-datetime></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-item>
  <ion-item>
    <ion-checkbox checked></ion-checkbox>
    <ion-label>Private Events</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox checked></ion-checkbox>
    <ion-label>Public Events</ion-label>
  </ion-item>
</ion-list>