<ion-list style="margin: 0px;">
  <ion-list-header>Filter Past</ion-list-header>
  <ion-item>
    <ion-checkbox [checked]="pastEvents" (ionChange)="changePastEvents($event)"></ion-checkbox>
    <ion-label>Past Events</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox [checked]="upcomingEvents" (ionChange)="changeUpcomingEvents($event)"></ion-checkbox>
    <ion-label>Upcoming Events</ion-label>
  </ion-item>
  <ion-list-header></ion-list-header>
  <ion-list-header>Filter Date</ion-list-header>
  <ion-item>
    <ion-col style="padding: 0px;">
      <ion-item lines="none" detail>
        <ion-label>From</ion-label>
        <ion-datetime [value]="fromDate" displayFormat="DD-MMM-YYYY" (ionChange)="changeFromDate($event)"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col style="padding: 0px;">
      <ion-item lines="none" detail>
        <ion-label>To</ion-label>
        <ion-datetime [value]="toDate" displayFormat="DD-MMM-YYYY" (ionChange)="changeToDate($event)"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-item>
  <ion-list-header></ion-list-header>
  <ion-list-header>Filter Privacy</ion-list-header>
  <ion-item>
    <ion-checkbox [checked]="privateEvents" (ionChange)="changePrivateEvents($event)"></ion-checkbox>
    <ion-label>Private Events</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox [checked]="publicEvents" (ionChange)="changePublicEvents($event)"></ion-checkbox>
    <ion-label>Public Events</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-col>
      <ion-item button (click)="clearFilters()" start lines="none">
        <ion-icon name="close-circle" slot="start" color="danger"></ion-icon>
        <p slot="start" style="color: var(--ion-color-danger)">Clear</p>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item button (click)="dismissPopover()" end lines="none">
        <ion-icon name="checkmark" slot="end" color="primary"></ion-icon>
        <p slot="end" style="color: var(--ion-color-primary)">Apply</p>
      </ion-item>
    </ion-col>
  </ion-item>
</ion-list>