<ion-header>
  <ion-toolbar mode="md">
    <ion-title>
      <p>Moment</p>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSearch()" size="small">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading">
    <ion-row *ngIf="loadedPeople.length === 0" class="ion-text-center">
      <ion-col>
        <p>You haven't followed anyone yet!</p> <br>
        <p>Use the searchbar to find people</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isLoading" class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading" style="padding-top:8px">
      <ion-col size="4" *ngFor="let person of loadedPeople">
        <img [src]="person.image" [routerLink]="person.id">
        <p class="ion-text-center">{{person.username}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>