<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="profile">
      <ion-label>Profile</ion-label>
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="people">
      <ion-label>People</ion-label>
      <ion-icon name="contacts"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-label>Feed</ion-label>
      <ion-icon name="images"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-label>Events</ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="groups">
      <ion-label>Groups</ion-label>
      <ion-icon name="md-people"></ion-icon>
    </ion-tab-button> -->

  </ion-tab-bar>
</ion-tabs>