.user-name {
    color: #737373;
    font-size: 19px;
    font-weight: 500;
}

.event-name {
    color: #262626;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
}

.caption {
    color: #000000;
    font-size: 20px;
    font-weight: 100;
  }