.user-name {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
}

.comment {
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 500;
}
  
.event-name {
  color: #262626;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
  
.caption {
  color: #262626;
  font-size: 20px;
}