<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button (click)="closeModal()" defaultHref="/tabs/feed"></ion-back-button>
    </ion-buttons>
    <ion-title>Moment</ion-title>
    <ion-buttons slot="end" *ngIf="!isLoading && isThisUsersPost()">
      <ion-button (click)="onShowMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select #menu hidden interface="action-sheet" (ionChange)="onDeletePost()">
    <ion-select-option (click)="onDeletePost()">
      <ion-label>Delete Post</ion-label>
    </ion-select-option>
  </ion-select>

  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="isLoading" class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading" class="ion-justify-content-center">
      <ion-col>
        <ion-row>
          <ion-col>
            <app-content [content]="this.post"></app-content>
          </ion-col>
        </ion-row>
        <ion-row style="padding-top: 10px" class="ion-justify-content-center">
          <ion-label class="user-name">{{ user.username }}</ion-label>
        </ion-row>
        <ion-row style="padding-top: 5px" class="ion-justify-content-center">
          <ion-label class="event-name"> @ {{ event?.name }}, {{ event?.location }}</ion-label>
        </ion-row>
        <hr>
        <ion-row style="padding-top: 5px" class="ion-justify-content-center">
          <ion-label class="caption">{{ post.caption }}</ion-label>
        </ion-row>
        <ion-row style="padding-top: 5px" class="ion-text-center">
          <ion-col>
            <ion-button class="post-interaction" (click)="onPostLike()">
              <ion-icon name="heart" slot="icon-only"></ion-icon>
            </ion-button>
            <p *ngIf="post.likes !== 0">{{ post.likes }}</p>
          </ion-col>
          <ion-col>
            <ion-button class="post-interaction" (click)="onPostComment(post.id)">
              <ion-icon name="chatbubbles" slot="icon-only"></ion-icon>
            </ion-button>
            <p *ngIf="post.comments">{{ post.comments.length }}</p>
          </ion-col>
          <!-- <ion-col>
            <ion-button class="post-interaction" (click)="onPostShare()">
              <ion-icon name="share" slot="icon-only"></ion-icon>
            </ion-button>
            <p *ngIf="post.shares !== 0">{{ post.shares }}</p>
          </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list *ngIf="comments" lines="none">

              <ion-item *ngFor="let comment of comments" lines="none" style="border: 0px; padding-bottom: 5px;">
                <ion-row>
                  <ion-col>
                    <ion-avatar>
                      <ion-img [src]="getUser(comment.userId)?.image"></ion-img>
                    </ion-avatar>
                  </ion-col>
                  <ion-col style="margin-top: auto; margin-bottom: auto;">
                    <ion-row>
                      <ion-label class="fullName">{{ getUser(comment.userId)?.username }}</ion-label>
                    </ion-row>
                    <ion-row style="padding-top: 10px;">
                      <ion-label class="username">{{ comment?.commentContent }}</ion-label>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
          </ion-col>

        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-items-center" size="12">
            <ion-item>
              <ion-input placeholder="Add a Comment" [(ngModel)]="comment" #commentBox></ion-input>
              <ion-button fill="clear" slot="end" (click)="onAddComment()">
                <ion-icon name="add" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col class="ion-align-items-center">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>