<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/events"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Moment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-margin" *ngIf="!isLoading">
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col>
        <ion-card>
          <img [src]="event.headerImage">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-card class="ion-no-margin">
  <ion-card-content>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-img [src]="event.headerImage"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row style="padding-left: 6.25%; padding-top: 2.5%;">
    <ion-col>
      <h1>{{event.name}}</h1>
    </ion-col>
  </ion-row>
</ion-card-content>
</ion-card>
<ion-row style="padding-top:8px">
  <ion-col size="4" *ngFor="let post of eventPosts">
    <ion-img style="background-size: cover;" [src]="post.content" [routerLink]="['/post-detail', post.id]">
    </ion-img>
  </ion-col>
</ion-row> -->