<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button (click)="closeModal()" defaultHref="."></ion-back-button>
    </ion-buttons>
    <ion-title>Discover Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="onChangeSegment($event)">
    <ion-segment-button value="popular" checked mode="md">Popular</ion-segment-button>
    <ion-segment-button value="tailored" mode="md">Tailored For You</ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-col>
      <ion-row *ngIf="displayedEvents.length === 0 && !isLoading" class="ion-text-center" style="padding-top: 10px;">
        Nothing here yet - try following some users or events.
      </ion-row>
      <ion-row *ngIf="!isLoading">
        <ion-col size="4" *ngFor="let event of displayedEvents">
          <img [src]="event.event.headerImage" (click)="onEventDetail(event.event.id)">
          <p class="ion-text-center">{{event.event.name}}</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>

