<ion-header>
  <ion-toolbar mode="md">
    <ion-title>
      Moment
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onDiscoverEvents()">
        <ion-label style="padding-right: 5px;">Discover</ion-label>
        <ion-icon name="compass" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="padding: 0px; margin: 0px; align-items: center!important;" class="ion-justify-content-center">
      <ion-col style="padding: 0px; margin: 0px;" class="ion-justify-content-center" size="9">
        <ion-searchbar placeholder="Search Events" (ionInput)="searchEvents($event)" #searchbar></ion-searchbar>
      </ion-col>
      <ion-col style="padding: 0px; margin: 0px;" class="ion-justify-content-center" size="3">
        <ion-button (click)="onFilter($event)" expand="block">
          <ion-label>Filter</ion-label>
          <ion-icon name="ios-funnel" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading && loadedEvents.length === 0" class="ion-justify-content-center ion-text-center">
      <ion-col size="10">
        <p>You don't follow any events yet!</p> <br>
        <p>Use the discover button to find some events you like</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isLoading" class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading" style="padding-top:8px">
      <ion-col size="4" *ngFor="let event of loadedEvents">
        <img [src]="event.headerImage" (click)="onEventDetail(event.id)">
        <p class="ion-text-center">{{event.name}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onNewEvent()">
      <ion-icon name="add" style="font-size: 75px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>