img {
  width: 100% !important;
  height: 100px !important;
  object-fit: cover !important;
}

ion-fab {
  width: 90px !important;
  height: 90px !important;
}

ion-fab-button {
  width: 75px;
  height: 75px;
}