<ion-header>
  <ion-toolbar>
    <ion-title>
      <p>Moment</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/new-event">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="isLoading" class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top:8px">
      <ion-col size="4" *ngFor="let event of loadedEvents">
        <ion-img style="background-size: cover;" [src]="event.headerImage" [routerLink]="['/event-detail', event.id]"></ion-img>
        <p>{{event.name}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>