<div class="picker">
  <div (click)="playPause(thisDiv)" #thisDiv>
    <video *ngIf="selectedImage && type === 'video'" style="max-width: 100%; max-height: 100%; position: relative" id="video">
      <source type="video/mp4" [src]="selectedImage">
    </video>
    <ion-icon *ngIf="type === 'video'" name="ios-arrow-dropright" class="play-button" slot="icon-only" id="playButton">
    </ion-icon>
  </div>
  <ion-row class="ion-justify-content-center">
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </ion-row>

  <ion-img *ngIf="croppedImage && type === 'image' && finishedCropping" [src]="imagePreview"></ion-img>
  <image-cropper *ngIf="!finishedCropping" [imageBase64]="selectedImage" [maintainAspectRatio]="true" [aspectRatio]="1/1" (imageCropped)="imageCropped($event)" (imageLoaded)="imageCropper.crop()" format="jpeg" outputType="dataUrl"></image-cropper>
  <ion-button expand="block" *ngIf="croppedImage && !finishedCropping" (click)="onFinishCrop()" fill="clear">
    <ion-icon name="checkmark" slot="start"></ion-icon>
    <ion-label>Crop</ion-label>
  </ion-button>

  <ion-button *ngIf="!croppedImage" (click)="onChooseImage()" expand="block" fill="clear">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>{{ message }}</ion-label>
  </ion-button>
</div>
<input type="file" accept="image/*,video/*" *ngIf="useChooser" #fileChooser (change)="onFileChosen($event)" />