.event-name {
    color: #262626;
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
}

.type {
    color: #494949;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
}

.info {
    color: #505050;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
} 