<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button (click)="closeModal()" defaultHref="."></ion-back-button>
    </ion-buttons>
    <ion-title>Moment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar (ionInput)="filterList($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
    <!-- <ion-spinner *ngIf="isLoading"></ion-spinner> -->

    <ion-list *ngIf="toSearch === 'people'">
      <ion-item *ngFor="let user of filteredUsers" [routerLink]="['tabs', 'people', user.id]" (click)="closeModal()">
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <ion-img [src]="user.image"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col size="9" style="margin-top: auto; margin-bottom: auto;">
            <ion-row>
              <ion-label class="fullName" style="height: 20px;">{{ user.fullName }}</ion-label>
            </ion-row>
            <ion-row style="padding-top: 10px;">
              <ion-label class="username">{{ user.username }}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="toSearch === 'events'">
      <ion-item *ngFor="let event of filteredEvents" (click)="onEventDetail(event.id)" button>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <ion-img [src]="event.headerImage"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col size="9" style="margin-top: auto; margin-bottom: auto;">
            <ion-row>
              <ion-label class="fullName">{{ event.name }}</ion-label>
            </ion-row>
            <ion-row style="padding-top: 10px;">
              <ion-label class="username">{{ event.location }}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="toSearch === 'posts'">
      <ion-item *ngFor="let post of filteredPosts" [routerLink]="['/', 'post-detail', post.id]" (click)="closeModal()">
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <!-- <ion-img [src]="post.content"></ion-img> -->
              <app-content [content]="post" playable="false" square="square"></app-content>
            </ion-avatar>
          </ion-col>
          <ion-col size="9" style="margin-top: auto; margin-bottom: auto;">
            <ion-row>
              <ion-label class="fullName">{{ post.caption }}</ion-label>
            </ion-row>
            <ion-row style="padding-top: 10px;">
              <ion-label class="username">{{ getEvent(post.eventId)?.name }}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
