ion-avatar {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 70px;
  height: 70px;
}

.square {
  img {
    width: 50px !important;
  }

  video {
    width: 50px !important;
  }
}

ion-card {
  // box-shadow: none !important;
  // border-bottom: solid var(--ion-color-primary-tint);
  // border-radius: 0px;
  padding-top: 5px !important;
}

.full-name {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.user-name {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
}