<ion-header>
  <ion-toolbar mode="md">
    <ion-title>
      <p>Moment</p>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onDiscoverPosts()">
        <ion-icon name="compass" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onSearch()" size="small">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onNewPost()" size="large">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="!isLoading && loadedPosts.length === 0" class="ion-text-center">
    <ion-col>
      <p>Can't find any posts!</p> <br>
      <p>Try following another user or an event!</p>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isLoading" class="ion-justify-content-center">
    <ion-col class="ion-text-center">
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-list *ngIf="!isLoading" class="ion-text-center" style="padding-top: 0px;">
    <ion-card *ngFor="let post of loadedPosts" class="ion-no-margin">
      <div>
        <ion-row>
          <ion-col class="ion-text-start" size="8">
            <ion-row style="padding-top: 10px; padding-left: 10px;">
              <ion-label class="user-name" (click)="onClickUser(post.userId)">{{ getUser(post.userId)?.username }}</ion-label>
            </ion-row>
            <ion-row style="padding-top: 5px; padding-left: 10px;">
                <ion-label class="caption">{{ post.caption }}</ion-label>
            </ion-row>
            <ion-row style="padding-top: 5px; padding-left: 10px">
              <ion-label class="event-name" (click)="onEventDetail(post.eventId)"> @ {{ getEvent(post.eventId)?.name }}, {{ getEvent(post.eventId)?.location }} </ion-label>
            </ion-row>
          </ion-col>
          <ion-col class="ion-text-end ion-align-self-center">
            <ion-button (click)="onPostDetail(post.id)" class="moreinfo" fill="clear" size="large">
              <ion-icon name="ios-arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <app-content [content]="this.post"></app-content>
      </div>
      <ion-card-content>
        <ion-row style="padding:0%">
          <ion-col>
            <ion-button class="post-interaction" (click)="onPostLike(post.id)">
              <ion-icon name="heart" slot="icon-only"></ion-icon>
            </ion-button>
            <p *ngIf="post.likes !== 0">{{ post.likes }}</p>
          </ion-col>
          <ion-col>
            <ion-button class="post-interaction" (click)="onPostComment(post.id)">
              <ion-icon name="chatbubbles" slot="icon-only"></ion-icon>
            </ion-button>
            <p *ngIf="post.comments">{{ post.comments.length }}</p>
          </ion-col>
          <!-- <ion-col>
            <ion-button class="post-interaction" (click)="onPostShare(post.id)">
              <ion-icon name="share" slot="icon-only"></ion-icon>
            </ion-button>
            <p *ngIf="post.shares !== 0">{{ post.shares }}</p>
          </ion-col> -->
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>