// ion-button {
//     --color: var(--ion-color-primary);
//     --background: transparent;
//     --box-shadow: transparent;
//     --color-activated: var(--ion-color-secondary);
// }

ion-card {
  box-shadow: none !important;
  border-bottom: solid var(--ion-color-primary-tint);
  border-radius: 0px;
  padding-top: 5px !important;
}
